.approvalPageContainer {
  display: flex;
  height: calc(100vh - 70px); /* 헤더 높이를 뺀 나머지 전체 높이 */
  background-color: #f4f6f8;
}

.content {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto; /* 내용이 길어지면 스크롤 */
  height: 100%;
} 