.leave-page-root {
  display: flex;
  min-height: 100vh; // 페이지 높이
  height: 100vh; // height 명시
  background: #fff;
  align-items: stretch; // 자식들이 같은 height 갖도록
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  padding-top: 48px;
  min-height: 100vh; // 내용 높이도 맞춤
}
